*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/*a{
  text-decoration: none;
  padding:500;
  margin: 50;

}*/

.containerr{
  width: 1000px!important;
  margin-left: 64px;
  padding: 0;
}
.containerr p{
  font-size: 12px;
}
.containerr h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .bg-primary{
  background-color:#2895e9!important;
}
.form-control{
  height: 30px;
  background-color: #fff;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none!important;
  border: 1px solid rgba(0,0,0,0.1);

}
.contactForm .form-control{
  border: none;
  border-bottom: 1px solid black;
  padding: 0;
}
.form-control:focus,.form-control:active{
  border-color: #2895e9;
}
.btn.btn-primary{
  background-color: #2895e9!important;
  border-color: #2895e9!important;
  color: white;
  width: 100px;
  border-radius: 0!important;
}
.btn.btn-primary:hover{
  background-color: #086ebd!important;

}
.bi{
  font-size: 50px;
}

header {
  background-color:#f8f8f8;
  padding: 12px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-menu {
  visibility: hidden;
  background-color:#2895e9;
  position: absolute;
  top: 100%; /* Adjust as needed */
  right: 0; /* Position navbar menu to the right */
  width: 250px; /* Initial width of the navbar menu */
  height: 0; /* Initial height of the navbar menu */
  overflow: hidden; /* Hide the menu content that overflows */
  transition: height 0.3s ease-in-out, visibility 0s linear 0.3s; /* Add transition effect to height and delay visibility */
  z-index: 1;
}
.navbar-menu.active {
  visibility: visible;
  height: 500px; /* Expanded height of the navbar menu */
  transition: height 0.3s ease-in-out, visibility 0s linear; /* Add transition effect to height and remove visibility delay */
}

.navbar-menu ul {
  list-style: none;
  margin: 44px;
  margin-left: 0px;
  padding: 0;
}

.navbar-menu ul li {
  display: block;
}

.navbar-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.navbar-menu ul li a:hover {
  color: black; /* Change the color on hover */
}


.toggle-button {
  color:black;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}
.close-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}


h3{
  font-family: "Borel",cursive;
}
.row{
  align-items: center;
}
.side {
  text-align: right;
}
.socialicons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
}
.socialicons:hover{
  color: rebeccapurple;
  cursor: pointer;

}

.socialicons a {
  margin-bottom: 10px;
}
.ratings {
  margin-top: -5px;
  margin-left: 400px;
  text-align: center;
  flex-direction: column;
  
}

.skill {
  margin-bottom: 10px;
}

.skill-name {
  font-weight: bold;
}



#details {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#details h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}

#details p {
  font-size: 16px;
  color: black;
}

#closeDetails {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
#closeDetails:hover {
  background-color: #2895e9;
}


#intro-text {
  font-size: 18px;
  font-weight: bold;
  font-family:"serif" ;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px #000;
  animation: typing 4s steps(40) forwards, moveToEnd 0.5s 4.5s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes moveToEnd {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.main{
  background: url("young-tender-curly-girl-looking-watch-worried-that-late.jpg") ;
  background-size: cover;
  width: 100%;
  height:95vh;
  
}
.main h3{
  font-size: 4.4rem;
  font-weight: 700;

}
.main h6{
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 3px solid #2895e9;
  width: 40%;
}
.main .bt1{
  background-color: #2895e9;
  color:whitesmoke;
  height: 55px;
  width: 138px;
  outline: none;
  border: none;
  font-weight:bold ;
  border-radius: 5px;
}
.main .bt1:hover{
  background-color: black;
}
.main .bt2{
  background-color: transparent;
  color:#2895e9;
  height: 55px;
  width: 138px;
  outline: none;
  border: 1px solid #2895e9;
  font-weight:bold ;
  border-radius: 5px;
}
.main .bt2:hover{
  background-color: black;
}
.about img{
  box-shadow: 35px 20px 33px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 33px 20px 33px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 33px 20px 33px -8px rgba(0,0,0,0.75);
}
.aboutsec{
  box-shadow: 33px 20px 33px -8px rgba(0,0,0,0.75);
-webkit-box-shadow: 33px 20px 33px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 33px 20px 33px -8px rgba(0,0,0,0.75);

}
h1{
  font-size: 3rem;
  font-weight: 900;
}
.com{
  align-items: center;
  display: flex;
  text-align: center;

}


.pclass:hover{
  background-color: rgb(162, 73, 137);
  color: antiquewhite;
  

}
.card{
  border: none;
  outline: none;
  box-shadow: 10px 10px 132px -32px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 132px -32px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 132px -32px rgba(0,0,0,0.75);
  width: 100%;
}
.card p{
  color: gray;
}

.circle{
   height: 70px;
   width: 70px;
   background-color: lightgrey;
   color: black;
   padding: 12px;
   display: inline-block;
   margin-bottom: 20px;
   font-size: 30px;
   border-radius: 50%;
}
.card:hover .circle
{
  background-color: black;
  color: white;
  transition: 0.5s;
}

.control ul li{
  list-style: none;
  background-color: black;
  color: white;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 2px;
}
.item{
  position: relative;
}
.item:hover{
  box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.75);
transition: 0.5s;
}
.item span{
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 40px;
  color: black;
  cursor: pointer;
  opacity: 0;
}
.item:hover span{
  opacity:1;
  transition: 0.5s;
}
.item:before{
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(258, 235,230, 0.479);
  opacity: 0;
  position: absolute;
}
.item:hover:before{
  opacity: 1;
  transition: 0.3s;
}
@media only screen and(max-width:600px){
  .containerr{
    width: 100px!important;
    padding-bottom: 207px;
  }
}
#project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}
.project-heading{
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}
.project-heading h4{
  font-size:2.7rem ;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.project-heading span{
  color: palevioletred;
}
.project-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(237,237,237,0.6);
  flex-wrap: wrap;
  margin: 20px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.project-filter li{
  margin:10px ;
  padding:5px 20px ;
  color: #9b9b9b;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

}
.project-filter-active{
  background-color: #f0f0f0;
  color: #272727;
}
.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;

}
.project-box{
  width: 330px;
  padding: 15px;
  border: 1px solid #eeeeee;
  margin: 20px;
}
.project-box img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
@media(max-width:740px){
  .project-filter{
    background-color: #f9f9f9;
    border: 1px solid rgb(0,0,0,0.05);
  }
  .project-filter-active{
    background-color: #ffffff;
    border: 1px solid rgb(219,219,219);
  }
  .project-box{
    width: 80%;
  }
}
@media(max-width:550px){
  .project-heading h3{
    font-size: 1.8rem;
  }
}
